<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div th:if="${orders.empty}">
        <h2>You dont have orders</h2>
        <div>
            <a href="">Create new order</a>
        </div>
    </div>
    <div th:unless="${orders.empty}">
        <h2 th:text="'My orders - ' + ${orders.size()}"></h2>
        <div>
            <a href="">Create new order</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Table</th>
                    <th>People</th>
                    <th>Total</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.tableId}"></td>
                    <td th:text="${order.people}"></td>
                    <td th:text="${order.getFullCost()}"></td>
                    <td>
                        <a th:href="'/orders/' + ${order.id}">Open</a>
                    </td>
                    <td>
                        <a href="">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>